body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

table {
    margin-left:auto; 
    margin-right:auto;
    border-collapse: separate; /* border-spacing 위해서 꼭 필요한 애 */
    border-spacing: 10px; /* tr 사이 간격 */
}

hr{
    border: solid 1px black;
    border-width: 0.5px;
    width: 234px;
    margin-left: 15px;
    border-bottom-width: 0px;
    margin-top: -5px;
}

.search {
    display: flex;
    justify-content: center; 
    align-items: center;
}

#search_btn {
    position: absolute;
    width: 327px;
    height: 52px;
    background-color: #0E71E8;
    border: none;
    outline: none;
    font-size: 18px;
    color: #FFFFFF;
    top: 90%;
    text-align: center;
    align-items: center;
}

.header{
    text-align: center; 
    margin-top: 87px;
}

.header p{
    margin-bottom: 0px; 
    margin-top: 20px; 
    font-size: 15px;
}

.user{
    margin-top: 78px;
}

.add-button-user{
    text-align: center; 
    margin-top: 9px;
}

#add-button{
    border: none; 
    background-color:white; 
    width: 22px;
    height: 22px;
}

li{
    list-style: none;
}

input{
     font-size: 15px; 
     margin-bottom: 5px;
     border: none;
     width: 100%;
}

input::placeholder{
    color: #C2C2C2; 
}

#list{
    padding-left: 0px; 
    display: table; 
    margin-left: auto; 
    margin-right: auto;
}

.item-list-user table{
    margin-bottom: 9px;
}

#del-button{
    border: none; 
    background-color:white; 
    padding-left: 5px; 
}

#start_location {
    margin-left: 32px;
    font-size: 15px;
    color: lightgray;
}

::placeholder {
    font-size: 13px;
}
